
#game-wrapper {
	display: block;
	height: auto;
	width: 100%;
}

.game-board {
	display: block;
	margin: 50px auto;
	max-width: 850px;
	background-color: green;
	border: 16px solid brown;
	border-radius: 145px;
}

.game-board .game-board-header {
	text-align: center;
}

.row {
	position: relative;
	text-align: center;
}

.cards-row {
	display: inline-block;
	margin: 5px auto;
	text-align: center;
}

.score {		
	position: relative;
	display: inline-block;
	color: white;
	font:24px Arial, serif;
	width: 200px;
	text-align: center;
	padding-top: 35px;
}

.card {
	position: relative;
	display: inline-block;
	margin: 5px 0 5px 5px;
	height: 105px;
	width: 60px;
	text-align: center;
	font-size: 24px;
	line-height: 100px;
	vertical-align: middle;
	background-color: white;
	border-radius: 15px;
	border:5px solid black;
}

.bet-wrapper {
	line-height: 50%;
	vertical-align: middle;
	text-align: center;
}
	#total-bet-wrapper {
		display: inline-block;
		font-size: 18px;
		color: white;
		margin-left: 50px;
	}

.chip {
		display: inline-block;
		width: 50px;
		height: 50px;
		color: white;
		border-radius: 200%;
		border:4px dashed black;
		/*background-color: white;*/
		line-height: 300%;
		vertical-align: middle;
}	
	.chip .inner-chip  {
			border:1px solid black;
			border-radius: 200%;
	}
	.chip.five-chip {
		background-color: #a01010;
	}

	.chip.ten-chip {
		background-color: #1313ab;
	}

	.chip.twenty-five-chip {
		background-color: #094609;
	}

	.chip.hundred-chip {
		background-color: #272626;
		border-color: white;
	}

.chip-stack {
	position: absolute;
	display: inline;
	margin-left: 25px;
}
	.chip-stack .chip {
		position: absolute;
	}


.empty {
	background: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSh9yarybRY1JS8uqoZvQgQEYqqkOxkzGd-dcNVTvKlm0pypS9g") center no-repeat;
	background-size: 80px;
}

.balance {
	display: inline-block;
	margin: auto;
	width: 200px;	
	color: white;
	text-align: center;
	font:24px Arial, serif;
	background-color: red;
}

.game-result {
	position: relative;
	bottom:10px;
	margin: 35px auto 0;
	width: 75%;
	color: white;
	font:24px Arial, serif;
	text-align: center;
	background-color: red;
}
.play-buttons-div {
	position: relative;
	text-align: center;
}

.play-buttons {
	margin:5px auto;
	font:18px Arial, serif;
	position: relative;
	width: 145px;
	height: auto;
	text-align: center;
	background-color: black;
	border-radius: 25px;
	color: white;
}
	.play-buttons.active {
		display: inline-block;
	}
	.play-buttons.hidden {
		display: none;
	}

#reset-button {

}

@media (max-width: 1072px) and (min-width: 871px) {
	.score {
		display: block;
		margin: 0 auto;
		float: none;
	}
	.cards-row {
		display: block;
	}
}

@media (max-width: 870px) and (min-width: 511px) {
	.score {
		display: block;
		margin: 0 auto;
		float: none;
	}
	.row {
		margin:10px;
	}
	.cards-row {
		display: block;
		width: 355px;
		margin: auto;
	}
	#reset-button {
		display: block;
		margin:20px auto;
		float: none;
	}
}

@media (max-width: 510px) {
	.score {
		display: block;
		margin: 0 auto;
		float: none;
	}
	.row {
		margin:10px;
	}
	#reset-button {
		display: block;
		margin:20px auto;
		float: none;
	}
}



