
#game-wrapper {
	display: block;
	height: auto;
	width: 100%;
}

.game-board {
	display: block;
	margin: 50px auto;
	/*width: 100%;*/
	max-width: 1024px;
	height: auto;
	background-color: green;
	border: 16px solid brown;
	border-radius: 145px;
}

.row {
	position: relative;
	margin: 55px;
	height: auto;
	/*background-color: red;*/
}

.cards-row {
	display: inline-block;
	margin: 5px auto;
	text-align: center;
}

.score {		
	position: relative;
	display: inline-block;
	color: white;
	font:36px Arial, serif;
	height: 100%;
	width: 200px;
	text-align: center;
	float: left;
	padding-top: 35px;
	/*background-color: blue;*/
}

.card {
	position: relative;
	display: inline-block;
	margin: 5px 0 5px 5px;
	height: 175px;
	width: 100px;
	text-align: center;
	font-size: 24px;
	line-height: 100px;
	vertical-align: middle;
	background-color: white;
	border-radius: 15px;
	border:5px solid black;
}

.empty {
	background: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSh9yarybRY1JS8uqoZvQgQEYqqkOxkzGd-dcNVTvKlm0pypS9g") center no-repeat;
}



.balance {
	margin: auto;
	width: 200px;	
	color: white;
	font:24px Arial, serif;
	background-color: red;
}

.game-result {
	position: relative;
	bottom:10px;
	margin: 35px auto;
	width: 75%;
	color: white;
	font:24px Arial, serif;
	text-align: center;
	background-color: red;
}
.play-buttons-div {
	position: relative;
	/*top: 600px;*/
	text-align: center;
}

.play-buttons {
	margin:5px auto;
	font:24px Arial, serif;
	position: relative;
	width: 200px;
	height: auto;
	text-align: center;
	background-color: black;
	color: white;
}

#reset-button {
	float:right;
	margin-right: 100px;
}
@media (max-width: 1072px) and (min-width: 871px) {
	.score {
		display: block;
		margin: 0 auto;
		float: none;
	}
	.cards-row {
		display: block;
	}
}

@media (max-width: 870px) and (min-width: 511px) {
	.score {
		display: block;
		margin: 0 auto;
		float: none;
	}
	.row {
		margin:10px;
	}
	.cards-row {
		display: block;
		width: 355px;
		margin: auto;
	}
	#reset-button {
		display: block;
		margin:20px auto;
		float: none;
	}
}

@media (max-width: 510px) {
	.score {
		display: block;
		margin: 0 auto;
		float: none;
	}
	.row {
		margin:10px;
	}
	#reset-button {
		display: block;
		margin:20px auto;
		float: none;
	}
}



